.app-root { width: 100%; max-width: 414px; margin: auto; height: 100%; position: relative; }
.app-page, .app-main { width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; right: 0; top: 0; overflow: hidden; }
.app-main { -webkit-overflow-scrolling: touch; overflow-x: hidden; overflow-y: scroll; }

/* toast */
.app-toast { width: 60%; position: fixed; left: 20%; padding: 15px 8px; font-size: 16px; line-height: 18px; top: 50%; background: rgba(0, 0, 0, .8); color: #ffffff; text-align: center; z-index: 20003; border-radius: 4px; box-shadow: 0 1px 1px rgba(49,60,75,.35); overflow: hidden; transition: all 200ms ease-out 0ms; transform: scale(0.2,0.2); opacity: .2; word-wrap: break-word; }
.app-toast-show { transform: scale(1,1); opacity: 1; background-color: rgba(00,00,00,0.65); }
.app-toast-hide { transform: scale(0.2,0.2); opacity: .2; }

.app-modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 10000; }
.app-modal-con { height: 250px; background: #f4f4f4; border-radius: 10px; width: 90%; max-width: 375px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.app-modal-scroll { padding: 10px; width: 100%; height: 100%; }
.app-modal-footer { height: 40px; text-align: right; position: absolute; bottom: 0; left: 0; width: 100%; padding: 6px 10px; background: #f4f4f4; border-radius: 10px; }
.app-modal-footer .btn_confirm { background: #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #fff; }
.app-modal-footer .btn_cancel { border: 1px solid #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #f23030; margin-right: 5px; }
.app-modal-footer ~ .app-modal-scroll { padding-bottom: 50px; }
.app-modal-close { position: absolute; right: 10px; top: 10px; }
.app-modal-title { font-size: 18px; text-align: center; }

.app-footer { position: absolute; bottom: 0; left: 0; right: 0; background: #fff; height: 50px; z-index: 1000; }
.app-footer .btn:first-child { margin-left: 10px; }
.app-footer .btn { height: 34px; border-radius: 17px; background-color: #f23030; color: #fff; margin: 0 10px 0 0; }
.app-footer .btn_light { background-color: #ffa001; }

.app-dropdown-modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; overflow: hidden; background: rgba(0, 0, 0, 0.5); z-index: 10000; }
.app-dropdown { max-height: 300px; background: #fff; border-radius: 4px; width: 250px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.app-dropdown-title { height: 40px; font-weight: bold; text-align: center; line-height: 40px; }
.app-dropdown-con { padding: 0 10px 10px 10px; }
.app-dropdown-item { padding: 10px 0; }
.app-dropdown-item.curr { color: #f23030; font-weight: bold; }

.login-btn { background: #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #fff; }

.app-nickname .app-modal-con { height: 160px; }

.app-home { padding-bottom: 50px; }
.app-home h1 { font-size: 24px; padding: 10px; }
.app-home h2 { font-size: 18px; padding: 0 10px; color: #aaa; }
.app-home h2 .line { display: block; height: 0px; margin-left: 10px; }
.app-card { background: #fff; border-radius: 10px; margin: 10px; }
.app-list { background: #fff; }
.app-summary { margin: 10px; padding: 10px; background: #eee; border-radius: 8px; display: block; text-indent: 20px; font-size: 14px; color: #666; line-height: 24px; }
.app-content { padding: 10px; font-size: 14px; }
.app-content-con { color: #666; }

.app-day-content { padding: 10px 0; font-size: 14px; line-height: 22px; }
.app-day-images { padding-bottom: 10px; }
.app-day-img { display: block; width: 100%; }
.app-day-img~.app-day-img { margin-top: 10px; }

.app-show .app-form-item .title { margin-bottom: 0; padding-top: 5px; }

.app-form-item { margin: 10px; }
.app-form-item .title { margin: 0 0 6px 0; font-size: 14px; }
.app-form-item .title span { color: #f23030; font-weight: bold; padding-left: 4px; }
.app-text { margin: 0 0 10px 0; background: #fff; border: 0; display: block; border-radius: 10px; width: 100%; padding: 8px; height: 80px; line-height: 22px; }

.app-upload-item { float: left; margin-right: 10px; width: 60px; height: 60px; margin-bottom: 10px; overflow: hidden; }
.app-upload-item img { display: block; width: 100%; height: 100%; }
.app-upload { position: relative; width: 60px; height: 60px; background: #eee; float: left; margin-bottom: 10px; }
.app-upload input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 100; }
.app-upload .icon-add { font-size: 34px; color: #999; }
.app-upload-item .icon-close { font-size: 11px; overflow: hidden; border-bottom-left-radius: 14px; background: #ddd; width: 18px; height: 18px; }
.app-upload-item .icon-close::before { display: block; margin-right: -2px; margin-top: -2px; }

.app-date-select-modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 10000; }
.app-date-select { height: 80%; background: #fff; border-radius: 10px; width: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.app-date-select-con { padding: 10px; padding-bottom: 50px; width: 100%; height: 100%; }
.app-date-select .month { color: #f23030; margin: 10px 0 5px 10px; }
.app-date-select li { float: left; width: 14%; padding-left: 10px; padding-bottom: 5px; font-size: 14px; }
.app-date-select li.curr { color: #f23030; font-weight: bold; }
.app-date-select li.curr.cl_999 { color: #666; font-weight: bold; }
.app-date-select-footer { height: 40px; text-align: right; position: absolute; bottom: 0; left: 0; width: 100%; padding: 6px 10px; background: #fff; border-radius: 10px; }
.app-date-select-footer .btn_confirm { background: #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #fff; }
.app-date-select-footer .btn_cancel { border: 1px solid #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #f23030; margin-right: 5px; }

.app-love-modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 10000; }
.app-love-modal-con { height: 70%; background: #f4f4f4; border-radius: 10px; width: 90%; max-width: 375px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.app-love-modal-scroll { padding: 10px; padding-bottom: 50px; width: 100%; height: 100%; }
.app-love-modal-footer { height: 40px; text-align: right; position: absolute; bottom: 0; left: 0; width: 100%; padding: 6px 10px; background: #f4f4f4; border-radius: 10px; }
.app-love-modal-footer .btn_confirm { background: #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #fff; }
.app-love-modal-footer .btn_cancel { border: 1px solid #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #f23030; margin-right: 5px; }
.app-love-modal-title { font-size: 18px; text-align: center; }
.app-love-modal .tags { padding: 10px; }
.app-love-modal .tags li { display: inline-block; background: #e8e8e8; color: #666; padding: 2px 6px; font-size: 13px; border-radius: 4px; margin-right: 5px; margin-bottom: 4px; }
.app-love-modal .tags li.curr { display: inline-block; background: #f23030; color: #fff; padding: 2px 8px; font-size: 13px; border-radius: 4px; margin-right: 5px; }
.app-love-modal .app-text { height: 60px; }

.app-love-content span { display: inline-block; background: #eee; color: #666; border-radius: 4px; padding: 2px 4px; margin-left: 4px; margin-top: 4px; font-size: 13px; }
.app-love-content code { white-space: nowrap; display: block; }

.app-keywords-modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: rgba(0, 0, 0, 0.5); z-index: 10000; }
.app-keywords-modal-con { height: 250px; background: #f4f4f4; border-radius: 10px; width: 90%; max-width: 375px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.app-keywords-modal-scroll { padding: 10px; padding-bottom: 50px; width: 100%; height: 100%; }
.app-keywords-modal-footer { height: 40px; text-align: right; position: absolute; bottom: 0; left: 0; width: 100%; padding: 6px 10px; background: #f4f4f4; border-radius: 10px; }
.app-keywords-modal-footer .btn_confirm { background: #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #fff; }
.app-keywords-modal-footer .btn_cancel { border: 1px solid #f23030; border-radius: 4px; height: 26px; padding: 0 10px; color: #f23030; margin-right: 5px; }
.app-keywords-modal-title { font-size: 18px; text-align: center; }
.app-keywords-modal .tags { padding: 10px; }
.app-keywords-modal .tags li { display: inline-block; background: #e8e8e8; color: #666; padding: 2px 6px; font-size: 13px; border-radius: 4px; margin-right: 5px; margin-bottom: 4px; }
.app-keywords-modal .tags li.curr { display: inline-block; background: #f23030; color: #fff; padding: 2px 8px; font-size: 13px; border-radius: 4px; margin-right: 5px; }
.app-keywords-modal .app-text { height: 60px; }

.app-login .app-modal-con { width: 270px; }
.app-login .btn_confirm { width: 70%; background: #f23030; border-radius: 15px; height: 30px; padding: 0 10px; color: #fff; }
.app-login-form-item { height: 36px; margin: 15px 10px; background-color: #fff; border-radius: 4px; padding-left: 6px; }
.app-login-form-item input { border: 0; }
.app-login-form-item .btn_send { padding-right: 10px; }

.home_day_form_item { position: relative; }
.home_day_form_item .icon-close { position: absolute; right: 0; top: 0; z-index: 101; }
.home_day_form_item .date { background: #eee; border-radius: 2px; padding: 0 4px; font-size: 12px; color: #666; position: relative; padding-right: 12px; }
.home_day_form_item .date::after { position: absolute; content: ""; right: 4px; top: 5px; display: block; width: 3px; height: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999; transform: rotate(45deg) }
.home_newday_btn { background-color: #f23030; color: #fff; height: 28px; width: 150px; border-radius: 14px; margin-left: 10px; margin-bottom: 10px; }


.app-luck-month { font-weight: bold; margin-left: 10px; width: 28px; font-size: 12px; text-align: right; }
.app-luck-item { height: 20px; margin: 10px; }
.app-luck-item .bar { height: 20px; border-radius: 20px; background-image: linear-gradient(90deg, #ffa001, #f23030); margin: 0 5px; position: relative; overflow: hidden; }
.app-luck-item .bar .progress { height: 18px; border-top-right-radius: 9px; border-bottom-right-radius: 9px; background: #fafafa; margin: 1px; position: absolute; right: 0; top: 0; left: 50%; bottom: 1px; }
.app-luck-item .bad { font-size: 11px; color: #ffa001; }
.app-luck-item .good { font-size: 11px; color: #f23030; }

.home_health_sum { font-size: 14px; line-height: 30px; }
.home_health_sum button { font-weight: bold; font-size: 12px; padding: 2px 4px; border-radius: 2px; background: #eee; color: #f23030; position: relative; padding-right: 12px; vertical-align: baseline; }
.home_health_sum button::after { position: absolute; content: ""; right: 4px; top: 50%; margin-top: -3px; display: block; width: 3px; height: 3px; border-right: 1px solid #999; border-bottom: 1px solid #999; transform: rotate(45deg) }

.health_times { color: #000; font-weight: bold; }

.home_love_item { padding: 14px; font-size: 14px; color: #666; }

.home_keywords { margin-bottom: 5px; }
.home_keywords_item { float: left; margin-left: 6px; font-size: 13px; margin-bottom: 6px; padding: 3px 8px; border-radius: 3px; background: #eee; }